body, input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
